@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'days';
    src: url('/src/assets/fonts/days/Days.ttf') format('truetype');
}

@font-face {
    font-family: 'exo';
    src: url('/src/assets/fonts/exo/Exo2-VariableFont_wght.ttf') format('truetype');
}

.tab-btn {
    @apply bg-gray-400 px-12 py-1 font-exo uppercase  text-white font-semibold;
}

.tab-btn-active {
    @apply bg-green-700;
}

input {
    @apply bg-gray-200 px-4 py-1 rounded-xl font-exo text-lg font-semibold text-gray-700 focus:outline-1 outline-green-700;
}


.btn {
    @apply  font-exo font-semibold px-6 py-2 rounded-2xl min-w-[150px] cursor-pointer ;
}





.chck {
    width: 24px;
    height: 24px;
    appearance: none;
    /*background-color: #2256c0; !* Tailwind's gray-200 color *!*/
    border: none;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    padding: 0px;

}

.chck:checked {
    background-color: #157f3d; /* Tailwind's green-500 color */
}

.chck:checked::after {
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white"%3E%3Cpath fill-rule="evenodd" d="M16.707 5.293a1 1 0 00-1.414-1.414l-6.293 6.293-2.293-2.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l7-7z" clip-rule="evenodd" /%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
}

.chck-label {
    @apply text-gray-500;
    font-size: 1rem; /* 16px */
    font-weight: 600; /* Semibold */
    /*color: #1f2937; !* Tailwind's gray-800 color *!*/
    cursor: pointer;
    margin-left: 0.5rem; /* Spacing between checkbox and label */
}

.chck-label:hover {
        @apply text-gray-700;
}


.slc {
    @apply bg-gray-200 px-4 py-1 rounded-xl font-exo text-lg font-semibold text-gray-800 focus:outline-1 outline-green-700 cursor-pointer;
    appearance: none;
    padding-right: 2.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M5.23 7.21a.75.75 0 011.04-.02L10 10.7l3.73-3.5a.75.75 0 011.04 1.08l-4.25 4a.75.75 0 01-1.04 0l-4.25-4a.75.75 0 01-.02-1.04z'/%3E%3C/svg%3E");
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
}
